/*Add CSS styles here*/
#map {
    height: 75vh; 
    width: 100%; 
    margin: 0 auto;
}

.sequence-control-container {  
    width: 350px;  
    background-color: rgba(255,255,255,0.8);  
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid gray 1px;
    border-radius: 4px;
}  

.step {
    width: 35px;                
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.step img {
    width: 70%; 
    height: auto;
}

.range-slider {
    flex-grow: 1;
    margin: 0 10px;
}

.legend-control-container {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 8px 20px;
    border: 1px solid gray;                    
    border-radius: 4px;                         
    font-size: 18px;                           
    font-weight: bold;
    text-align: center;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 150px;                           
}


body {
    background-color: #0a001f; 
}

h1 {
    text-align: center;
    color: rgb(196, 150, 0);
    font-family: 'Arial', sans-serif;
    margin-top: 20px;
}

h2 {
    color: rgb(255, 255, 255);
    font-family: 'Arial', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

.leaflet-popup-content-wrapper {
    border: 2px solid #ff7300;
    box-shadow:
        0 0 6px #ec00d9,
        0 0 12px #ec00d9,
        0 0 18px #ec00d9;
    background: rgba(0, 0, 0, 0.781);
    backdrop-filter: blur(4px);
}


.leaflet-popup-content p {
    color: aliceblue;
    margin: 0.2em 0;
    font-size: large;
}
