/*Add CSS styles here*/
#map {
    height: 75vh; 
    width: 100%; 
    margin: 0 auto;
}

#panel {
    width: 35%;               
    margin: 20px auto;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.step {
    width: 50px;                
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step img {
    width: 75%;                
    height: auto;
}

.range-slider {
    width: 70%;                 
}


body {
    background-color: #0a001f; 
}

h1 {
    text-align: center;
    color: rgb(196, 150, 0);
    font-family: 'Arial', sans-serif;
    margin-top: 20px;
}

h2 {
    color: rgb(255, 255, 255);
    font-family: 'Arial', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

.leaflet-popup-content-wrapper {
    border: 2px solid #ff7300;
    box-shadow:
        0 0 6px #ec00d9,
        0 0 12px #ec00d9,
        0 0 18px #ec00d9;
    background: rgba(0, 0, 0, 0.781);
    backdrop-filter: blur(4px);
}


.leaflet-popup-content p {
    color: aliceblue;
    margin: 0.2em 0;
    font-size: large;
}
